:root {
    --bgOpaque: rgba(0, 0, 0, 0.6);
    --bgTransparent: rgba(0, 0, 0, 0.15);
    --bgH3: rgba(0, 127, 255, 0.15);
    --fgBright: rgba(0, 255, 255, 1);
    --fgDim: rgba(72, 168, 158, 0.8);
    --fgOut: rgba(128, 255, 0, 1);
    --fgIn: rgba(255, 255, 255, 1);
    --fgClock: rgba(127, 168, 158, 0.5);
    --fgStatus: rgba(255, 255, 0, 0.9);
    --slotWidth: 23rem;
    --slotImageWidth: 18rem;
    --inputWidth: 8rem;
}

/* fallback */
@font-face {
    font-family: "Material Symbols Outlined";
    font-style: normal;
    font-weight: 100 700;
    src: url(symbols.woff2) format("woff2");
}

.material-symbols-outlined,
.symbols,
.symbols-small,
.symbols-form {
    font-family: "Material Symbols Outlined";
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}

.symbols {
    font-size: 2.25rem;
}

.symbols-small {
    margin-right: 0.5rem;
    font-size: 1rem;
}

.symbols-form {
    font-size: 1.5rem;
    width: 3rem;
}

.actions {
    position: fixed;
    margin: 0.6rem;
    overflow: hidden;
}

.action {
    padding: 4px;
    margin: 2px;
    background-color: var(--bgTransparent);
    color: var(--fgDim);
    border-radius: 0.35rem;
}

.action:hover,
.action:focus {
    opacity: 1;
    background-color: var(--bgOpaque);
    color: var(--fgBright);
}
