GLFW_ICON ICON "uncool.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
      VALUE "CompanyName", "raylibtech"
      VALUE "FileDescription", "Uncool | uncool"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "uncool"
      VALUE "LegalCopyright", "(c) 2025 raylibtech"
      //VALUE "OriginalFilename", "uncool.exe"
      VALUE "Uncool", "Uncool"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
